body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("picture2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(139, 100, 100);
}
.info{
    margin-top: 130px;
    margin-left: 15px;
    text-align: left;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(179, 6, 136)
}
header{
    margin-left: 150px;
    padding: 25px;
    color: red;
}
footer{
    background-color: black;
    color: white;
    margin-top: 40px;
    
}